<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daos.AccountMapper">
    <select id="getAllTeachers" resultType="account">
        select * from Account where identity = '教师'
    </select>
    <select id="selectAccountOfId" resultType="Account">
        select * from Account where id=#{id} and password=#{psw}
    </select>
    <select id="selectAccountById" resultType="Account">
        select id,name,identity from Account where id=#{id}
    </select>
    <insert id="insertAccount" parameterType="account">
        insert into Account (id,name,password,identity) values (#{id},#{password},#{name},#{identity})
    </insert>
    <update id="updateAccount" parameterType="account">
        update Account set password=#{password},name=#{name} where id=#{id}
    </update>
    <delete id="deleteAccount">
        delete from Account where id=#{id}
    </delete>


</mapper>