<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daos.QuestionMapper">
    <select id="selectByCid" resultType="beans.Question">
        select * from Question where cid = #{cid}
    </select>
    <insert id="insertQuestion" parameterType="beans.Question">
        insert into Question (id,cid,,sid,title,question,answer,state) values (null,#{cid},#{sid},#{title},#{question},#{answer},#{state})
    </insert>
    <update id="updateQuestion" parameterType="beans.Question">
        update Question set cid=#{cid},title=#{title},question=#{question},answer=#{answer},Question.state=#{state} where id=#{id}
    </update>
    <delete id="deleteQuestion">
        delete from Question where id=#{qid}
    </delete>
    <select id="selectByQid" resultType="beans.Question">
        select * from Question where id = #{qid}
    </select>
</mapper>